.slide{
    transform: translatex(60px);
    height:400px;
    
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 20px;
    padding-inline: 10px;
}

.caption{
    height: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5%;
    
    background: linear-gradient(90deg, black 50%, transparent 60%);
    border-radius: 20px;
}

.caption p, .caption h1{
    margin: 0;
    padding: 0;
    width: 50%;
}

.caption :nth-child(1){
    font-size: 2.5rem;
}

.caption :nth-child(2){
    font-size: 0.7em;
    font-style: italic;
    color: rgb(180, 180, 180);
}

.caption :nth-child(3){
    font-size: 0.7em;
    color: rgb(142, 142, 142);
    padding-block: 5px;
}