.latest-release{
    display: grid;
    grid-template-areas: "title title title" "backward section forward";
}
.latest-release h2{
    grid-area: title;
    padding: 0 25px;
}
.latest-release ul{
    grid-area: section;
    
}
.latest-release .backward{
    grid-area: backward;
    transform: translateX(25px) scaleX(3);
    background: linear-gradient(270deg, transparent, black);
}
.latest-release .forward{
    grid-area: forward;
    transform: translateX(-25px) scaleX(3);
    background: linear-gradient(90deg, transparent, black);
}

.latest-release div{
    width: 25px;
    background-color: transparent;
    opacity: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.latest-release div:hover{
    opacity: 1;
}

.latest-release div span{
    transform: scaleY(8);
}

.latest-release ul{
    list-style-type: none;
    padding-top: 10px;
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.latest-release ul li{
    min-width: 190px;
}

.latest-release ul li img{
    width: 100%;
    border-radius: 15px;
}

.latest-release ul li small{
    font-size: 0.7rem;
}

.latest-release ul li > *{
}
